.creeps {
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black;
}

.common {
    border-color: #B6B7B8;
}

.rare {
    border-color: #0098EA;
}

.epic {
    border-color: #6A1AB4;
}


.section {
padding: 16px 8px;
}

.section .label {
    font-weight: bold;
    line-height: 48px;
}

.section .content {
    gap: 32px;
}













.my-chest {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid #CC8E44;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.my-chest .type-label {
    position: absolute;
    top: -8px;
    background-color: #9F6000;
    border: 2px solid #262626;
    border-radius: 16px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 8px;
}

.my-chest .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    image-rendering: pixelated;
}

.my-chest .open-button {
    position: absolute;
    bottom: -8px;
    background-color: #EE9000;
    box-shadow: 0 2px 0 #D44A2A;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 24px;
}















.captured-creep {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.captured-creep .level-label {
    position: absolute;
    top: -8px;
    background-color: #B6B7B8;
    border: 2px solid #231E2B;
    border-radius: 16px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 8px;
}

.captured-creep .merge-button {
    position: absolute;
    bottom: -48px;
    background-color: #B6B7B8;
    box-shadow: 0 2px 0 #231E2B;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 48px;
}

.captured-creep .count-label {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #B6B7B8;
    border: 2px solid #231E2B;
    border-radius: 16px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 8px;
}

.captured-creep .name-label {
    position: absolute;
    bottom: -4px;
    /* right: -8px; */
    background-color: #B6B7B8;
    border: 2px solid #231E2B;
    border-radius: 16px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 8px;
    white-space: nowrap;
}