
/* || SOCIAL QUESTS */

.quests-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quests-container .title {
    padding-left: 10px;
}

.box.button {
    cursor: pointer;
    background-size: cover; /* Ensures the image covers the button */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    width: auto; /* Set the width to the desired value */
    height: 75px; /* Set the height to the desired value */
    display: flex; /* Ensures the button doesn't take up more space than necessary */
    background-color: #ee9000;
    border-radius: 15px;
    border: 1px solid #9F6000;
    box-shadow: 2px 2px 0 0 #9F6000;
    justify-content: flex-start;
    align-items: center;
}

.box.button .border {
    background-color: #000;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #ee9000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box.button .border img {
    max-width: 100%; /* Allows image width to scale within container without cropping */
    max-height: 100%; /* Allows image height to scale within container without cropping */
    object-fit: contain; /* Ensures full visibility of content without distortion or cropping while maintaining aspect ratio */
}

.box.button .description {
    margin-top: -10px;
}

.box.button .body .description-text {
    /* flex-grow: 1; */
    margin-top: 10px;
    background-color: #9c251f;
    width: 100%;
    text-shadow: -1px -1px 0 #b4671a, 1px -1px 0 #b4671a, -1px 1px 0 #b4671a, 1px 1px 0 #b4671a; /* Outline color */
}

.box.button .arrow-right {
    margin-left: auto; /* Pushes the arrow icon to the far right */ 
}

.reward-box-button {
    margin-top: 10px;
    display: flex;
    height: 30px;
    width: 100px;
    border: 1px solid #2626263d;
    border-radius: 48px;
    background: #9c251f3d;
    padding: 5px; /* Combined padding for simplicity */
}

.reward-box-button img {
    
    max-width: 20px; /* Allows image width to scale within container without cropping */
    max-height: 20px; /* Allows image height to scale within container without cropping */
    object-fit: contain; /* Ensures full visibility of content without distortion or cropping while maintaining aspect ratio */
    margin-right: 5px;
}

.reward-box-button .reward-text {

    text-align: center; /* Center text horizontally */
    display: flex;
    align-items: center; /* Center text vertically */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Outline color */
}

.box.button.enabled {
    background-color: #ee9000;
}

.box.button.disabled {
    background-color: #9f6000;
}

.box.button.click {
    background-color: #ffab2b;
}

.label-with-background {
    margin-top: -20px;
    height: 20px;
    background: #9c251f;
    /* Primary / Black (900) */
    border: 1px solid #262626;
    box-shadow: 0.5px 0.5px 0px #262626;
    border-radius: 48px;
}