@tailwind base;
@tailwind components;
@tailwind utilities;

/* || GENERAL STYLES */

:root {
    --background: #000;
    --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --foreground: #fff;
    }
}

@font-face {
    font-family: "mina";
    src: url("/fonts/Mina-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "mina-bold";
    src: url("/fonts/Mina-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    padding: 1rem;
    color: var(--foreground);
    background: var(--background);
    font-family: "mina", "mina-bold";
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: normal; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
    /* … */
}

ul {
    /* … */
}

blockquote {
    /* … */
}

/* || UTILITIES */

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* … */

/* || SITEWIDE */

.centered-div {
    /* width: 10%; */
    margin: 0 auto; /* Automatically adjust margins to center horizontally */
    width: 100%; /* Ensures the container spans the full width of its parent */
    padding: 0; /* Remove padding if needed */
}

.base-text {
    /* text-shadow: 1px 1px 2px #000; Text shadow for depth */
    text-shadow: 2px 2px 0px #000;
    color: #fff;
    font-family: "mina", "mina-bold";
}

.slider-color {
    background: linear-gradient(89.84deg, #f6d700 0.14%, #ee9000 127.49%);
    border-radius: 12px 0px 0px 12px;
}

.slider-color-start {
    background: #f6d700 0.14%
}

.slider-star {
    width: 50px;
    height: auto;
    background-image: "/assets/images/sliderStar.png";
}

.curved-box {
    background-color: #ee9000;
    border-radius: 10px;
    border: 1px solid #ee9000;
    align-content: center;
}

.curved-box.profit {
    background-color: #0C0B17;
    width: 213px;
    height: 26px;
    font-size: 12px;
    padding-left: 10px;
}

.curved-box.build {
    width: 80px;
    height: 26px;
    float: right;
    text-align: center;
    font-size: 12px;
    margin-left: 100px;
    align-content: center;
}

.curved-box.building {
    font-family: "mina", "mina-bold", serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 35px;
}

.curved-box.building.active {
    background-color: #4FD464;
    border: none;

}

.curved-box.inactive {
    background-color: #0C0B17;
}

.main-nav {
    /* … */
}

.logo {
    /* … */
}

.box-button {
    z-index: 45;
    cursor: pointer;
    background-size: cover; /* Ensures the image covers the button */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    width: auto; /* Set the width to the desired value */
    height: 75px; /* Set the height to the desired value */
    display: flex; /* Ensures the button doesn't take up more space than necessary */
    background-color: #ee9000;
    border-radius: 10px;
    border: 1px solid #ee9000;
    /* box-shadow: 0.5px 0.5px 0px #262626; */
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.overlay-menu {
    z-index: 45;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
}

/* || TITLE MENU || TOP MENU  */
.overlay-menu .top-container {
    z-index: 45;
    display: flex;
    background-color: black;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    align-items: center;

    font-family: Mina, serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1px;
    text-align: center;
}

.overlay-menu .top-container .left-side {
    margin-left: 100px;
    align-items: center;
}

.overlay-menu .top-container .right-side {
    margin-right: 100px;
    display: flex; /* Ensure flex properties apply */
    justify-content: flex-end; /* Aligns content to end (right) */
    align-items: flex-start; /* Vertically center the content */
    height: 100%; /* Match the height of the parent container */
}

.overlay-menu .top-container .right-side img {
    height: 100%; /* Ensure the image takes up the full height of the parent */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
}

/* || TAB MENU || BOTTOM TAB  */

.overlay-menu .bottom-container {
    z-index: 45;
    width: 100%;
    margin-top: auto; /* Pushes the bottom container to the bottom */
    display: flex; /* Ensure flex properties apply */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.overlay-menu .tab-item {
    z-index: 45;
    text-align: center;
    /* Add any additional styling for tab items here */
}

.tab-container {
    z-index: 45;
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center; /* Center the grid within the container */
    padding: 20px; /* Add some padding around the container */
}

.tab-container-gradient-background {
    z-index: 45;
    background: url("/assets/images/BottomBG.png");
    width: 100%;
    border-radius: 30px; /* Rounded corners */
}

.overlay-menu .tab-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Always 4 columns */
    gap: 4px; /* Adjust the gap between the tabs as needed */
}



.overlay-menu .tab-content {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 0; /* Ensure content is below the tabs */
    align-items: flex-start; /* Align content to the top */
    justify-content: center; /* Center content horizontally */
    flex-direction: column;
    
    box-sizing: border-box; /* Ensure padding is included in the height calculation */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    
    flex-grow: 1;
    padding: 10px;
    padding-bottom: 200px;
    border-top: 2px solid #EE9000; /* Defines a top border */
    border-left: none;
    border-right: none;
    border-bottom: none;

    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 25px 0 #EE9000;
}

.overlay-menu .tab-content.full {
    height: calc(100vh - 70px); /* Subtract the margin-top from the viewport height */
    margin-top: 70px;
}

.overlay-menu .tab-content.hero {
    height: calc(100vh - 165px); /* Subtract the margin-top from the viewport height */
    margin-top: 120px;
}

.overlay-menu .tab-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.overlay-menu .tab-content {
    -ms-overflow-style: none; /* Hides the scrollbar */
}

.overlay-menu .tab-content {
    scrollbar-width: none; /* Hides the scrollbar */
}


.overlay-menu .tab-button {
    z-index: 45;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-end; /* Align children to the bottom */
    align-items: center; /* Center children horizontally */
    border-radius: 10px; /* Rounded corners */
    width: 50px; /* Adjust this to match the width of your buttons */
    height: 70px; /* Adjust this to match the height of your buttons */
    font-size: 10px;
    /* opacity: 0.5; */
    transition: opacity 0.3s ease; /* Smooth transition for opacity changes */
    padding-bottom: 10px; /* Adjust this to control the distance from the bottom */
}

.overlay-menu .tab-button .tab-border {
    background-color: #9F6000;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-menu .tab-button .top-tab-border {
    background-color: #FFAB2B;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-menu .tab-icon {
    width: 80%; /* Make the image width relative to the tab */
    height: auto; /* Maintain aspect ratio */
    max-height: 70%; /* Ensure the image doesn't exceed a certain height */
}

.overlay-menu .tab-button-text {
    margin-top: auto;
    color: white; /* Adjust text color as needed */
}

/* Active tab button styles */
.overlay-menu .tab-button.active {
    opacity: 1;
    font-weight: bold;
    z-index: 10;
    /* Any other styles for the active state */
}


.overlay-menu .tab-button .tab-border.active {
    background-color: #FFAB2B;
}
