
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75); /* Black background with 75% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998; /* Lower than messageBox z-index but higher than everything else */
}


.messageBox {
    position: relative; /* Positioned relative to the overlay */
    width: 100vw; /* Full screen width */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
    padding: 20px;
    border-radius: 8px 8px 0 0; /* Rounded top corners only */
    background-color: #0C0B17;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
    border: 1px solid #EE9000;
    
    /* Position it at the bottom */
    z-index: 9999; /* Ensure it's on top of other elements */
    bottom: 0; /* Align it at the bottom */
}

.title {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.info {
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
}

.button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;

    cursor: pointer;
    text-align: center;

    background-color: #ee9000;
    border-radius: 10px;
    border: 1px solid #ee9000;
}

.button:hover {
    background-color: #ee9000;
}

.closeButton {
    position: absolute; /* Positioning it relative to the messageBox */
    top: 0px; /* Adjust as necessary */
    right: 10px; /* Adjust as necessary */
    background: none; /* No background */
    border: none; /* No border */
    color: white; /* Color of the X button */
    font-size: 48px; /* Adjust size */
    cursor: pointer; /* Change cursor on hover */
    z-index: 10000; /* Higher z-index to ensure it’s above everything */
}

.closeButton:hover {
    color: #EE9000; /* Change color on hover for better visibility */
}